Assets/SpriterDotNet
Assets/SpriterDotNetExamples
Assets/Testing
SpriterDotNet.meta
SpriterDotNetExamples.meta
Test Scene.unity
Test Scene.unity.meta
Testing.meta
Library
ProjectSettings
SpriterDotNetMecanim.sln
SpriterDotNetMecanim.userprefs
Temp
